.exercises-items-edit {
    padding: 0;
    background: transparent;
    border: none;
    height: auto;
    width: unset;
}
.exercises-items {
    padding: 16px 0;
}
.exercises-item {
    display: flex;
    &:not(:last-child) {
        margin-bottom: 8px;
    }
    &-name {
        margin-right: auto;
        white-space: nowrap;
        color:  #8c8c8c;
    }
}
