.settings-items {
    width: 505px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 0px;
    margin: 24px 0;
}
@media screen and (max-width: 600px) {
    .settings-items{
        margin: 20px 0;
        gap: 24px;
    }
}
