.training-form-list {
    .ant-form-item {
        margin-bottom: 0;
    }
    .ant-form-item-control-input {
        min-height: unset;
    }
    .ant-input,
    .ant-input-number-input {
        padding: 1px var(--spacing-xxs);
        height: 24px;
    }

    .form-actions {
        margin-top: var(--spacing-l);
        border-radius: 0 0 6px 6px;
        display: flex;
        align-items: center;
        width: 100%;
        background: var(--color-background-light);
        .form-button-add,
        .form-button-remove {
            width: 50%;
            height: 40px;
            background: transparent;
        }
        .form-button-add {
            color: var(--color-primary-button-blue);
            &:hover {
                color: var(--color-link-blue-hover);
            }
        }
    }
}