.error-page {
    background: url('/main_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.error-content {
    background: unset;
}

.error-container {
    margin: 24px 0 42px;
    background: #fff;
    border-radius: 8px;
    padding: 24px;
    min-height: calc(100vh - 66px);
    display: flex;
    align-items: center;
    justify-content: center;

    .ant-result-title {
        font-weight: 500;
        color: #262626;
    }

    .ant-btn {
        height: 40px;
    }
}

@media screen and (max-width: 600px) {
    .error-page {
        ._container {
            padding: 0;
        }
        .ant-result {
            padding: 38.5px 0;
        }
    }
}
