#sider,
#sider-mobile {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    height: 100vh;
    position: sticky;
    left: 0;
    top: 0;

    & > * {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 30px;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }

    .logo {
        height: 64px;
    }

    .ant-menu {
        margin-top: 50px;
        border: none !important;
    }

    .ant-menu-item {
        margin: 0;
        padding: 0px 16px !important;
        height: 42px;
        margin-bottom: 16px;
        display: flex;
        align-items: center;
    }

    &.ant-layout-sider-collapsed .ant-menu-item {
        padding: 0 24px !important;
    }

    .ant-menu-item:not(.ant-menu-item-active):not(.ant-menu-item-selected) svg {
        fill: #061178;
    }

    .ant-menu-item-icon {
        font-size: 16px;
        flex-shrink: 0;
    }

    .exit-btn {
        margin: 0;
        padding: 0px 16px !important;
        height: 40px;
        border-radius: 2px;
        box-shadow: inset 0 1px 0 0 #f0f0f0;
    }

    .ant-btn.exit-btn > .anticon + * {
        margin-left: 10px;
        padding: 4px 15px;
        transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), margin 0.3s, color 0.3s;
    }

    &.ant-layout-sider-collapsed .ant-btn.exit-btn > .anticon + * {
        opacity: 0;
    }

    .trigger {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(99%, -50%);
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='66' viewBox='0 0 20 66' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 -1.52588e-05L20 7.99998V58L0 66V-1.52588e-05Z' fill='white' /%3E%3C/svg%3E");
        width: 20px;
        height: 66px;
        color: #8c8c8c;
        justify-content: center;
    }
}

#sider-mobile {
    display: none;
}

@media screen and (max-width: 600px) {
    #sider {
        display: none;
    }
    #sider-mobile {
        display: block;
        position: fixed;
        z-index: 10;
        & > * {
            padding-top: 0;
        }

        .logo {
            height: 50px;
        }

        .ant-menu {
            margin-top: 16px;
        }

        .ant-menu-item {
            padding: 0px 8px !important;
            margin-bottom: 8px;
        }

        &.ant-layout-sider-collapsed .ant-menu-item {
            padding: 0 8px !important;
        }

        .trigger {
            top: 24px;
            transform: translate(99%, 0);
            background-image: url("data:image/svg+xml,%3Csvg width='32' height='48' viewBox='0 0 32 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0L32 5.81818V42.1818L0 48V0Z' fill='white' /%3E%3C/svg%3E");
            width: 32px;
            height: 48px;
        }
    }
}
