.settings-tariffs-form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.settings-tariffs-subtitle {
    font-size: var(--fs-s);
    font-weight: 700;
    color: var(--color-black);
    padding: 0 var(--spacing-xl);
}
.settings-tariff-cost {
    padding: var(--spacing-l) var(--spacing-xl);
    .ant-radio-group {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-right: var(--spacing-m);
    }
    .ant-radio-wrapper {
        flex-direction: row-reverse;
        height: 32px;
        align-items: center;
        margin: 0;
        gap: 48px;
        color: var(--color-black);
    }
    .ant-radio-wrapper::after {
        display: none;
    }
    span.ant-radio + * {
        padding: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .settings-tariff-cost-value {
        font-weight: 500;
        font-size: var(--fs-m);
    }
}

.settings-tariffs-form-footer {
    box-shadow: inset 0 1px 0 0 var(--color-background-light);
    padding: var(--spacing-s) var(--spacing-xl);
    margin-top: auto;
    .ant-btn {
        height: 40px;
    }
}

@media screen and (max-width: 600px) {
    .settings-tariffs-subtitle {
        padding: 0 var(--spacing-m);
    }
    .settings-tariff-cost {
        padding: var(--spacing-s) var(--spacing-m);
        .ant-radio-group {
            gap: 4px;
        }
    }

    .settings-tariffs-form-footer {
        padding: var(--spacing-s) var(--spacing-m);
    }
}
