.statistics-filters {
    display: flex;
    align-items: flex-start;
    font-size: var(--fs-s);
    gap: 24px;
    padding: var(--spacing-m) 0;
    color: var(--color-black);
    *:first-child {
        flex-shrink: 0;
    }
    .ant-radio-group {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }
    .ant-radio-group .ant-radio-button-wrapper {
        height: 18px;
        font-size: var(--fs-xs);
        border-radius: 2px;
        border-left-width: 1px;
        &::before {
            display: none;
        }
    }
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
        color: var(--color-primary-button-blue);
        background: var(--color-background-lightblue);
        border-color: #adc6ff;
    }
    .ant-radio-button-wrapper-checked:not(
            [class*=' ant-radio-button-wrapper-disabled']
        ).ant-radio-button-wrapper:first-child {
        border-color: #adc6ff;
    }
}

.statictics-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 112px;
    margin-top: var(--spacing-l);
    gap: 24px;
    font-weight: 500;
    font-size: var(--fs-xl);
    color: var(--color-black);
}

@media screen and (max-width: 900px) {
    .statistics-filters {
        padding: 4px 0;
        gap: 16px;
    }
}

@media screen and (max-width: 600px) {
    .statictics-empty {
        padding: 0;
    }
}
