.profile-page {
    background: url('/main_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.profile-content {
    background: unset;
}

.profile-container {
    background: #fff;
    border-radius: 8px;
    padding: 24px;
    margin-top: 24px;
    position: relative;
    min-height: calc(100vh - 138px);
}

.profile-form {
    padding-bottom: 30px;
}

.profile-block {
    max-width: 480px;
    margin-bottom: 24px;
}

.profile-subtitle {
    font-weight: 500;
    font-size: 16px;
    color: #262626;
    margin-bottom: 24px;
}

.profile-form-block {
    display: flex;
    gap: 24px;
}

.profile-inputs {
    width: 100%;
}

.profile-input-wrapper {
    margin-bottom: 16px;
    width: 100%;
    .ant-input,
    .ant-picker {
        height: 40px;
        width: 100%;
    }
    .ant-input-affix-wrapper {
        padding: 0 11px;
        .ant-input {
            height: 38px;
        }
    }
}

.profile-info {
    .profile-input-wrapper:first-child {
        margin-bottom: 32px;
    }
    .profile-input-wrapper:nth-child(2) {
        margin-bottom: 46px;
    }
    .ant-form-item-explain-error {
        font-size: 12px;
    }
}

.profile-button-submit {
    height: 40px;
    font-size: 16px;
    margin-top: 30px;
}

.profile-alert {
    width: 395px;
    max-width: 100%;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    .ant-alert-message {
        color: #262626;
    }
}

@media screen and (max-width: 600px) {
    .profile-page {
        main ._container {
            padding: 0;
        }
    }
    .profile-block {
        margin-bottom: 36px;
    }
    .profile-container {
        padding: 16px 24px;
    }
    .profile-form {
        padding-bottom: 0;
    }
    .profile-form-block {
        flex-direction: column-reverse;
        gap: 0;
    }
    .profile-img {
        margin: 0;
    }

    .profile-button-submit {
        width: 100%;
        margin-top: 14px;
    }

    .profile-alert {
        max-width: calc(100% - 48px);
        bottom: 48px;
    
    }
}
