.change-form {
    width: 539px;
    max-width: 100%;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background: var(--color-background);
    border-radius: 2px;
    padding: 64px 85.5px;

    .ant-form-item {
        margin-bottom: var(--spacing-xl);
    }

    .ant-input-wrapper,
    .ant-input-affix-wrapper {
        height: 40px;
    }

    .ant-form-item-explain-error {
        font-size: var(--fs-xs);
    }

    .ant-input {
        padding: var(--spacing-xs) 11px;
        color: var(--color-black);
    }
}

@media screen and (max-width: 600px) {
    .change-form {
        width: 328px;
        padding: var(--spacing-xl) var(--spacing-m);
    }
}
