.result {
    width: 539px;
    padding: 64px 85.5px;
    .ant-card-body {
        padding: 0;
    }

    .result-content {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .ant-card-meta-avatar {
        padding: 0;
    }

    .ant-card-meta-detail {
        margin: 24px auto;
        text-align: center;
        width: 100%;
        & > *:not(:last-child) {
            margin: 0;
        }
    }

    .ant-card-meta-title {
        font-size: 24px;
        color: #262626;
        white-space: unset;
    }

    .ant-card-meta-description {
        color: #8c8c8c;
    }

    .result-button {
        display: block;
        height: 40px;
        margin: 0 auto;
        &:not([disabled]):not(:hover) {
            background: #2f54eb;
        }
    }

    &.include-check-back-button,
    &.include-check-retry-button {
        padding: 64px 32px 56px;
        .result-button {
            width: max-content;
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 600px) {
    .result {
        padding: 32px 16px;
        width: 328px;
    }
}
