.statistics-cards {
    padding: var(--spacing-l) 0;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: var(--spacing-l);
}

.statistics-card {
    min-width: 156px;
    .ant-card-meta {
        margin: -2px;
    }
    .ant-card-meta-detail {
        overflow: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .ant-card-meta-title {
        overflow: unset;
        color: var(--color-black);
        font-weight: 700;
        font-size: 38px;
        white-space: unset;
        letter-spacing: -1px;
    }
    .ant-card-meta-description {
        color: var(--color-text-gray);
    }
}

.statistics-card-m {
    min-width: 200px;
}

@media screen and (max-width: 900px) {
    .statistics-cards {
        padding: 0 30px 0 0;
        gap: 16px;
    }
    .statistics-card {
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    }
}

@media screen and (max-width: 600px) {
    .statistics-cards {
        padding: 0;
        flex-direction: column;
    }
    .statistics-card {
        width: 100%;
        .ant-card-body {
            padding: 8.5px var(--spacing-m);
        }
        .ant-card-meta-detail {
            flex-direction: row;
            justify-content: space-between;
            gap: 8px;
        }
        .ant-card-meta-description {
            text-align: right;
            br {
                display: none;
            }
        }
        .ant-card-meta-detail > div:not(:last-child) {
            margin-bottom: 0;
        }
    }
}
