@font-face {
    font-family: Inter;
    font-display: swap;
    src: url('/fonts/Inter-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    font-display: swap;
    src: url('/fonts/Inter-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    font-display: swap;
    src: url('/fonts/Inter-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

*,
h1 {
    padding: 0;
    margin: 0;
    border: 0;
    line-height: 130% !important;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

*:before,
*:after {
    box-sizing: border-box;
    flex-shrink: 0;
}

body {
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 130% !important;
    -webkit-tap-highlight-color: transparent;
}

:focus,
:active {
    outline: none;
}

a {
    text-decoration: unset;
}

ul,
ol {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    user-select: none;
}

svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

::selection {
    background: #061178;
    color: #fff;
}

._container {
    max-width: 100%;
    padding: 0 24px;
    margin: 0 auto;
}

.ant-modal-wrap,
.ant-modal-mask,
.ant-modal {
    animation-duration: 0s !important;
    transition: unset !important;
}
